# --- Python ---
.venv/
**/__pycache__/
*.py[cod]
*.sqlite
.aws-sam/
backend/.aws-sam/
ui/parking-admin/.angular/cache/

# --- React / Node ---
ui/node_modules/
ui/build/
secrets/
# If you want to keep your committed static/ folder, then ignore ui/build only.
# If you instead want to stop committing static/ entirely, add:
# static/

# --- Misc ---
.DS_Store